<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<appender name="JUNO_FILE" class="biz.minaret.log4j.DatedFileAppender">
    <param name="Prefix"   value="WorldCheckJUNOLogging" />
    <param name="Suffix" value=".log" />
    <param name="Directory" value="D:/WC_Logs/JunoLogs/" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n"/>
    </layout>
  </appender>

  <appender name="ATLAS_FILE" class="biz.minaret.log4j.DatedFileAppender">
    <param name="Prefix"   value="WorldCheckCMSLogging" />
    <param name="Suffix" value=".log" />
    <param name="Directory" value="D:/WC_Logs/AtlasLogs/" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n"/>
    </layout>
  </appender>

  <appender name="ATLAS_FILE_EJB" class="biz.minaret.log4j.DatedFileAppender">
    <param name="Prefix"   value="WorldCheckCMSEJBLogging" />
    <param name="Suffix" value=".log" />
    <param name="Directory" value="D:/WC_Logs/AtlasLogs/" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n"/>
    </layout>
  </appender>

 <!-- <appender name="JUNO_FILE" class="org.apache.log4j.RollingFileAppender">
    <param name="File"   value="D:/JunoLogs/WorldCheckJUNOLogging.log" />
    <param name="Append" value="true" />
    <param name="MaxFileSize" value="20MB" />
    <param name="MaxBackupIndex" value="5"/>
    
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n"/>
    </layout>
  </appender>

 <appender name="ATLAS_FILE" class="org.apache.log4j.RollingFileAppender">
    <param name="File"   value="D:/WC_Logs/AtlasLogs/WorldCheckCMSLogging.log" />
    <param name="Append" value="true" />
    <param name="MaxFileSize" value="20MB" />
    <param name="MaxBackupIndex" value="5"/>
    
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n"/>
    </layout>
  </appender>

   <appender name="ATLAS_FILE_EJB" class="org.apache.log4j.RollingFileAppender">
    <param name="File"   value="D:/WC_Logs/AtlasLogs/WorldCheckCMSEJBLogging.log" />
    <param name="Append" value="true" />
    <param name="MaxFileSize" value="20MB" />
    <param name="MaxBackupIndex" value="5"/>
    
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{DATE} %-5p %-15c{1}: %m%n"/>
    </layout>
  </appender> -->

<logger name="com.worldcheck.atlas.sbm.customds">
	<level value="error"/>
	<appender-ref ref="ATLAS_FILE_EJB"/>
</logger>
<logger name="com.worldcheck.atlas.sbm.ibatis">
	<level value="error"/>
	<appender-ref ref="ATLAS_FILE_EJB"/>
</logger>
<logger name="com.adapters.worldcheck">
	<level value="error"/>
	<appender-ref ref="ATLAS_FILE_EJB"/>
</logger>
<logger name="com.worldcheck.atlas.dao.audit.CaseHistoryForTasksDAO">
	<level value="error"/>
	<appender-ref ref="ATLAS_FILE_EJB"/>
</logger>
<logger name="com.worldcheck.atlas.bl.audit.CaseHistoryManagerForTasks">
	<level value="error"/>
	<appender-ref ref="ATLAS_FILE_EJB"/>
</logger>
<logger name="com.worldcheck.juno">
	<level value="error"/>
	<appender-ref ref="JUNO_FILE"/>
</logger>
<logger name="com.worldcheck.atlas">
	<level value="error"/>
	<appender-ref ref="ATLAS_FILE"/>
</logger>
<logger name="org.springframework">
	<level value="error"/>
	<appender-ref ref="ATLAS_FILE"/>
</logger>

<logger name="org.springframework.web.context.ContextLoader">
	<level value="error"/>
	<appender-ref ref="JUNO_FILE"/>
</logger>
<logger name="com.worldcheck.atlas.isis.util.AtlasWebServiceUtil">
	<level value="error"/>
	<appender-ref ref="ATLAS_FILE_EJB"/>
</logger>

</log4j:configuration>
